@{
    ViewData["Title"] = "Error Page Demo";
}
<h3>@ViewData["Title"]</h3>
<h4>Set the showError bool in the controller to true to view the exception page.</h4>
<br />
<br />
<p>
  Set the environment variable to Debug to view the exception details page.
  <br />
  <br />
  Set the environment variable to something other then Debug to view the generic error page.
</p>


